<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Finderr</title>
    <link rel="stylesheet" href="/css/auth.css?v=1.0">
</head>
<body>
    <div class="container reverse">
        <div class="form-section">
            <h2>Login</h2>
            {{ if .Error }}
                <div class="alert alert-danger">{{.Error}}</div>
            {{ end }}
            <form action="/auth/login" method="POST">
                <input type="email" id="email" name="email" placeholder="Your Email" required />
                <input type="password" id="password" name="password" placeholder="Your Password" required />
                <button type="submit">Login</button>
            </form>
            <p class="switch">Don't have an account? <a href="/auth/signup">Create one</a></p>
        </div>
        <div class="text-section">
            <h1>Welcome Back</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas placerat ultricies libero eu pharetra. Vestibulum a ultricies augue.</p>
        </div>
    </div>
</body>
</html>