:root {
  --bg-color: #fff;
  --text-color: #333;
  --accent-color: #ff004f;
  --button-bg: #ff004f;
  --dropdown: #f1f1f1;
  --button-hover-bg: #d40042;
  --navbar-bg: #ddd;
}

.dark-mode {
  --bg-color: #121212;
  --text-color: #ddd;
  --dropdown: #1f1f1f;
  --accent-color: #bb86fc;
  --button-bg: #bb86fc;
  --button-hover-bg: #3700b3;
  --navbar-bg: #1f1f1f;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}


header {
  background-color: var(--navbar-bg);
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  padding: 10px 20px;
}

.menu-icon,
.notification-icon {
  cursor: pointer;
  font-size: 28px;
}

.logo {
    font-family: 'Arial', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--text-color);
    text-shadow: 2px 2px 4px #ff004f;
    text-decoration: none;
    margin-left: 10px;
}

.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  justify-content: center;
}

.search-container input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border-radius: 16px 0 0 16px;
  border: 2px solid #ff004f;
  max-width: 600px;
  outline: none;
  background-color: inherit;
  color: inherit;
  transition: all 0.3s;
}

.search-container button {
  padding: 7px 10px;
  margin-top: 0.7px;
  border: none;
  background-color: var(--button-bg);
  color: #ffffff;
  border-radius: 0 16px 16px 0;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.search-container button:hover {
  background-color: var(--button-hover-bg);
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  min-width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(75, 73, 74);
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  background-color: black;
  box-shadow: inset 8px -4px 0 0 white;
  transition: 0.4s;
}

.switch input:checked + .slider {
  background-color: #2196f3;
}

.switch input:checked + .slider:before {
  transform: translateX(1.5em);
  background-color: yellow;
  box-shadow: none;
}

.notification-icon {
    margin: 0 10px;
}

.user-profile {
  position: relative;
}

#profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.profile-dropdown {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  background: white;
  color: black;
  border: 1px solid #ccc;
}

/* Slideshow */
.slideshow {
    position: relative;
    height: 400px;
    overflow: hidden;
  }
  
  .slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-in-out;
  }
  
  .slide.active {
    display: block;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slide-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 5px;
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  
  .arrow.left {
    left: 10px;
  }
  
  .arrow.right {
    right: 10px;
  }
  
  .slideshow:hover .arrow {
    opacity: 1;
  }
  
/* Categories */
.movie-list-container {
  padding: 0 20px;
  overflow-x: hidden;
}

.movie-list-wrapper {
  position: relative;
  overflow: hidden;
  overflow-x: hidden;
  height: 370px;
}

.movie-list {
  display: flex;
  height: 370px;
  transition: transform 1s ease-in-out; /* Smooth transition for the scrolling */
  transform: translateX(0);
}

.movie-list-item {
  position: relative;
  min-width: 250px;
}

.movie-list-item-img {
  transition: all 0.8s ease-in-out;
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.media-description {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  transition: transform .5s ease;
}

.media-description:hover {
  transform: scale(1.1);
}

.description {
  position: relative;
}

.status-dot {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.status-dot.not-downloaded {
  background-color: white;
}

.status-dot.downloading {
  background-color: blue;
}

.status-dot.downloaded {
  background-color: green;
}

.status-dot.error {
  background-color: red;
}

.download-btn {
  position: absolute;
  height: 50px;
  width: 50px;
  bottom: 10px;
  left: 30px;
  transform: translateX(-50%);
  background-color: #ff004f;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.download-btn:hover {
  background-color: inherit;
  border: 2px solid #ff004f;
  color: white;
}

.title {
  max-width: 200px;
  min-height: 40px;
  max-height: 40px;
  overflow: hidden;
}

h2 {
  margin-top: 50px;
  font-size: 24px;
  text-align: left;
}