<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.title}}</title>
</head>
<body>
    <!-- Navigation bar -->
    <nav class="navbar">

    </nav>

    <!-- Division to hold the sidebar and main content -->
    <div class="container">
        <aside class="sidebar">

        </aside>

        <main class="main-cont">
            {{embed}}
        </main>
    </div>

    <footer>
        <p>@Finderr 2025</p>
    </footer>
</body>
</html>